/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

.hidden { display: none; }
.cf:after {  content: "";  display: table;  clear: both;  }

section {
    ul { display: flex; list-style-type: none; flex-wrap: wrap;
        li { box-sizing: border-box; flex: 1; padding: 1px;
            &:hover { border: 1px solid greenyellow; padding: 0; box-shadow: 0px 0px 10px green; background: #fafafa;}
            a { display: block; text-align: center;
                &:hover {padding: 0;}
            }
        }
    }
    &.set-image {
        ul {
            li {
                a {
                    img { max-width: 500px; max-height: 500px;}
                }
            }
        }
    }
    &.set-beacon ul li a img { max-width: 100%; }
}